*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // This defines what 1rem is.
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
}
// The Basics definitions of our entire project is put in here, the _base.scss
/* The * will target all the elements, meaning all will have a margin and padding of 0 and the box-sizing will be border-box for all. */